<div class="box_confirm">
  Congratulations!! Your Booking is confirmed.<br /><br /><br />
  Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ------- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ name
  }}<br />
  Disease &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ------- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
    disease
  }}
  <br />
  Contact &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ------- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
    contact
  }}
  <br />
  Age &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ------- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ age }}

  <br />
  Doctor Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ------- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
    doctor.name
  }}
  <br />
  Doctor speciality &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -------
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ doctor.speciality }}
  <br />
  Slot time &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ------- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{
    slot.time
  }}
</div>
